*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 18px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 60px;
    letter-spacing: 2px;
    padding-bottom: 30px;
    text-align: center;
}
button{
    color: #00CDCE;
    background-color: black;
    padding: 10px 15px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    border: none;
}
/* HEADER/ MENU */
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 8px 20px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    
}
.header__content p{
    font-weight: 550;
    letter-spacing: 3px;
    font-size: 58px;
    color:#FFFFFF;
}
.header__content p span{
    color:#00CDCE;
}

.header__content ul li{
    list-style: none;
    display: inline;
    padding: 10px 12px;
  }
.header__content ul li a{
    border-bottom: 2px solid white;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
/* CAROUSEL */
.carousel{
    background-image: url(../img/video.jpg);
    height: 850px;
    width: 100%;
    background-size: cover;
    
    position: relative;
  
    left: 0;
}
.carousel .carousel__overlay{
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    .carousel .carousel__arrow{
        position: absolute;
        left: 0;
        top: 380px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 30px; 
    }  

.carousel .carousel__content h1{
    letter-spacing: 3px;
    font-size: 3.5rem;  
    text-transform: uppercase;
    margin-bottom: 20px;
   }
.carousel .carousel__content p{
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #9A9E9E;
    margin-bottom: 200px;
}
.carousel .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}
/* ABOUT */
.about{
/* border: 1px solid red; */
margin: 80px 0;
text-align: center;
}
.about .about__item {
    padding: 0 15px;
}
.about .about__item p{
    font-size: 16px;
    line-height: 28px;
    word-spacing: 3px;
    color: #7F7784;
}
.about .about__item i{
    height: 100px;
    width: 100px;
    font-size:25px;
    line-height: 95px;
    border-radius: 50%;
    border: 1px solid #A09A9A;
    margin-bottom: 15px;
}
.about__container{
    display: flex;
    width: 85%;
    margin: 0 auto;
    
}
.about__detail{
    width: 85%;
    margin: 0 auto;
}
.about__detail h2{
    color: #00CDCE;
    font-size: 30px;
    padding: 20px 0;
}
.about__detail p{
    font-size: 16px;
    word-spacing: 3px;
    line-height: 28px;
}
/* STATISTICS */
.statistic{
    text-align: center;
    background-color: #00CDCE;
    padding: 70px 0;
}
.statistic__container{
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-around;  
}
.statistic__item p:first-of-type{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
}
.statistic__item p:nth-child(2){
    padding-top: 15px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
}
/* BLOG */
.blog{
    margin-bottom: 70px;
}
.blog__content h1{
    text-align: center;
    margin: 70px 0 20px;
}
.blog__container{
    display: flex;
    width: 85%;
    margin: 0 auto 70px;
    justify-content: space-around; 
}
.blog__item{
    margin: 0 15px;
    background-color: #EFEFEF;
    padding-bottom: 20px;
}
.blog__item img{
    width: 100%;
    border-top: 5px solid #00CDCE;
}
.blog__item h2{
    color: #00CDCE;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    padding-top: 15px;
}
.blog__item p{
    padding: 15px 0;
    line-height: 25px;
    letter-spacing: 1px; 
    font-size: 16px; 
    font-weight: 500; 
}

.blog__item button:focus{
    outline: none;
}
.blog__item .paragraph{
    padding-left: 20px;
}
.more__infor{
    display: flex;
    text-align: center;
    height: 390px;
}
.video{
    width: 160%;
    background-image: url(../img/video.jpg);
}
.video iframe{
    width: 100%;
    height: 100%;
}
.getMore{
background-color: #00CDCE;
display: flex;
align-items: center;
}
.getMore__container h2{
    font-size: 40px;
    letter-spacing: 2px;
}
.getMore__container p{
    color: #FFFFFF;
    margin: 0 auto;
    width:80%;
    line-height: 30px;
    padding: 25px 0;
    letter-spacing: 1px;
}
/* PORTFOLIO  */
.portfolio{
    margin-bottom: 50px;
}
.portfolio h1{
    padding-bottom: 40px;
    font-weight: 500;
    letter-spacing: 3px;
}
.portfolio__content{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin: 0 auto;
    gap: 10px 30px;
}
.portfolio__content img{
    width: 100%;
}
/* SUBSCRIBE */
.subscribe{
    background-color: #00CDCE;
    display: flex;
    align-items: center;
    text-align: center;
    height: 450px;
    margin-bottom: 50px;
}
.subscribe__content{
    width: 60%;
    margin: 0 auto;
}

.subscribe__content p{
    padding: 10px 0 25px;
    color:white;
    font-size: 17px;
    letter-spacing: 1px;
}
.subscribe__content input{
    padding: 15px;
    width: 600px;
    border: none;
}
.subscribe__content input:focus{
    outline: none;
}
.subscribe__content input::placeholder{
    font-weight: bold;
    font-size: 16px;
}
.subscribe__content button{
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 10px 60px;
    letter-spacing: 1px;
    margin-top: 20px;
}
/* AGENTS */
.agents{
    margin-bottom: 70px;
}
.agents h1{
    padding-bottom: 40px;
}
.agents__content{
    display: flex;
    margin: 0 auto;
    width: 85%;
    justify-content: space-around;
}
.agents__content img{
    display: block;
}
.agents__profileContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    padding: 25px 0;
}
.agents__profile{
   text-align: center; 
    
}
.agents__profile p:nth-of-type(2){
    color: white;
    margin-top: 7px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}
.agents__profile p:first-of-type{
    color: #00CDCE;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 21px;
}
.social__icons i{
    color: white;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border: 2px solid white;
     margin: 15px 10px 0; 
    text-align: center;
}
/* MAP */
.map{
    border: 2px solid #00CDCE;
    margin-bottom: 80px;
}
.map__content{
    border: 15px solid #BBBBBB;
}
.map__content iframe{
    width: 100%;
}
/* CONTACT */
.contact{
   margin-bottom: 70px;
}
.contact__content form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid red; */
    height: 280px;
}
.left__column input, .right__column textarea, .right__column button{
    display: block;
    width: 100%;
}
.left__column, .right__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left__column input{
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    background-color: #EFEFEF;
    border: none;
    border-bottom: 2px solid #999999;
}
.left__column input:focus{
    outline: none;
}
.right__column button{
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    color: white;
  }
.right__column button:focus{
    outline: none;
}
.right__column textarea:focus{
    outline: none;
    }
.right__column textarea{
    resize: none;
    background-color: #EFEFEF;
    border: none;
    border-bottom: 2px solid #999999;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

/* FOOTER */
.footer__content{
    padding: 35px 0;
    background-color: #00CDCE;
}

.footer__item{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between; 
    align-items: center;
   
}
.footer__item .social__icons i{
    margin: 0 10px;
}
.footer__copyright{
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
} 
.footer__copyright span{
    color: red;
}
/* BACK TO TOP */
  .backToTop{
      position: fixed;
      bottom: 45px;
      right: 40px;
      opacity: 0;
      visibility: hidden;
  }
  .backToTop i{
      border: 2px solid blue;
      color: blue;
      width: 30px;
      height: 30px;
      line-height: 26px;
      text-align: center;
      border-radius: 5px;
        }
        .cd-top--is-visible { 
            /* // back-to-top button visible */
            visibility: visible;
            opacity: 1;
          }
          .cd-top--fade-out { 
            /* // reduce button opacity if user keeps scrolling */
          opacity: .5;
        }




